# Tugas Pagi

In [1]:
##Coba coba

In [2]:
#Ini adalah untuk mengetik hello word
print("Hello world")

Hello world

In [3]:
angka =20

In [4]:
print(angka)

20

In [5]:
type(angka)

int

In [6]:
angka = "Dua puluh"

In [7]:
type(angka)

str

In [8]:
#single word
print('hello')

hello

In [11]:
#To create a string in Python you need to use either single quotes or double quotes.For example:
# Single word
print('hello')
print() # Used to have a line space between two sentences.
#Try deleting this line & seeing the difference.
print("This is also a string")

hello

This is also a string

### Store value in string

In the code below we begin to explore how we can use a variable to which a string can be assigned.This can be extremely useful in many cases, where you can call the variable instead of typing the string everytime.This not only makes our code clean but it also makes it less redundant. Example syntax to assign a value or expression to a variable,variable_name = value or expression
Now let's get coding!!. With the below block of code showing how to assign a string to variable.

In [14]:
S = 'New York'
print(S)
print(type(S))
print(len(S)) # what's the string length

New York
<class 'str'>
8

### string Indexing

We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.In Python, we use brackets [] after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called s and the walk through a few examples of indexing.

In [18]:
# Assign s as a string
s = 'Hello World'

# Print the object
print(s)

Hello World

In [19]:
# Show first element (in this case a letter)
print(s[0])

H

In [20]:
# Show the second element (also a letter)
print(s[1])

e

In [21]:
print(s[5])

In [22]:
print(s[6])

W

In [25]:
print(s) 
print()
print(s[0])
print()
print(s[1])
print()

Hello World

H

e

# String Concatenation and Repetition
String Concatenation is a process to combine two strings. It is done using the '+' operator.
String Repetition is a process of repeating a same string multiple times
The examples of the above concepts is as follows.

In [29]:
# concatenation (addition)
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2+"Selamat pagi"+str(20))

Hello WorldSelamat pagi20

In [30]:
# repetition (multiplication)
print("Hello_" * 3)
print("-" * 10)

Hello_Hello_Hello_
----------

In [32]:
print((s1[3]*10)+s2[4])

lllllllllld

# String Slicing & Indexing

String Slicing is a process to select a subset of an entire string

In [38]:
s = "Namaste World"
# print sub strings
print(s[1]) #This is indexing.

a

In [39]:
#silicing syntax : variabel_name[start : end] -> slice from start to end -1
#silicing syntax_2 : variabel_name[start : end: step]-> slice from start to end -1 with step(default)
print(s[6 : 11 : 2])#This is know as slicing.

eWr

In [40]:
print(s[6:11]) #This is known as slicing.

e Wor

In [41]:
print(s[-5:-1])

Worl

In [42]:
print(s[-7:-2])

e Wor

# Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the 
object (we will learn about these in much more depth later) that can perform actions or 
commands on the object itself.
We call methods with a period and then the method name. Methods are in the form:
object.method(parameters)
Where parameters are extra arguments we can pass into the method. Don't worry if the 
details don't make 100% sense right now.
Later on we will be creating our own objects and functions! 
Here are some examples of built-in methods in strings:

In [46]:
s = "Hello World"
print(s.upper()) ## Convert all the element of the string to Upper case..!!

HELLO WORLD

In [47]:
print(s.lower()) ## Convert all the element of the string to Lower case..!!

hello world

In [48]:
s3 = "12341"

In [49]:
s3.isnumeric()

True

In [50]:
s3="1a"
s3.isnumeric()

False

# Print Formating

We can use the .format() method to add formatted objects to printed string statements. The easiest way to show this is through an example:

In [53]:
name = "Einstein"
age = 22
married = True

In [54]:
#Cara 1
print("My name is",name,"My age is", age,"I am married")

My name is Einstein My age is 22 I am married

In [56]:
#Cara 2
print("My name is %s, my age is %s, and it is %s that I am married"%(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married

In [57]:
#Cara 3
print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married

# Numbers

Basic Arimatika

In [58]:
a = 6
b= 4
print(a+b)

10

In [59]:
print(a-b)

2

In [60]:
print(a*3)

18

In [61]:
a**b

1296

# Tugas Sore

# Data Types & Data Structures

## Identifying Data Types

In [67]:
a = 45
b = 30.5

print(a,type(a))#gets type of a
print(b,type(b))#gets type of b

45 <class 'int'>
30.5 <class 'float'>

In [68]:
b=5+8j
print(b,type(b))

(5+8j) <class 'complex'>

In [69]:
boolean1=True
boolean2=False
print(boolean1,boolean2)

True False

In [70]:
print(type(boolean1),type(boolean2))

<class 'bool'> <class 'bool'>

# List

In [81]:
mylist =['abcd',786,2.23,'john',70.2]
tinylist=[1,6,7,8]

In [73]:
print(mylist, type(mylist))

['abcd', 786, 2.23, 'john', 70.2] <class 'list'>

In [74]:
print(len(mylist))

5

In [75]:
mylist[2]

2.23

In [76]:
mylist[2:4]

[2.23, 'john']

In [77]:
mylist[1:5:2]

[786, 'john']

In [78]:
mylist[-3]

2.23

In [80]:
mylist[-5]

'abcd'

In [82]:
newlist = tinylist+mylist

In [83]:
print(newlist)

[1, 6, 7, 8, 'abcd', 786, 2.23, 'john', 70.2]

In [84]:
print(mylist*3)

['abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2]

In [85]:
mylist.append('Mikey') #Add element on the last

In [86]:
mylist

['abcd', 786, 2.23, 'john', 70.2, 'Mikey']

In [87]:
mylist.insert(2,412)#Add element on the spesific index(location)
mylist

['abcd', 786, 412, 2.23, 'john', 70.2, 'Mikey']

### List Remove Vs Pop

In [88]:
mylist.remove(412) #Delete element based on value
mylist

['abcd', 786, 2.23, 'john', 70.2, 'Mikey']

In [89]:
mylist.pop(3)#Delete element based on the index
mylist

['abcd', 786, 2.23, 70.2, 'Mikey']

In [90]:
mylist.pop()#Delete element on the last postition
mylist

['abcd', 786, 2.23, 70.2]

# List Iterable

In [91]:
for element in mylist:
    print(element)

abcd
786
2.23
70.2

# Tuple

In [92]:
mytuple=("abcd",7666,2.3222,'john',70.2)
mytuple

('abcd', 7666, 2.3222, 'john', 70.2)

In [93]:
mytuple[0]

'abcd'

In [94]:
mytuple[3]

'john'

In [96]:
mytuple[2:4]

(2.3222, 'john')

In [97]:
mytuple[-3]

2.3222

In [98]:
for element in mytuple:
    print(element)

abcd
7666
2.3222
john
70.2

In [99]:
a='19000'
a[0]

'1'

In [100]:
a[2]

'0'

# Dictionary

In [101]:
dict1={}
dict1['one']="This is one"
dict1[2]="This is two"
dict1

{'one': 'This is one', 2: 'This is two'}

In [102]:
dict1.keys()

dict_keys(['one', 2])

In [105]:
dict1['one']

'This is one'

In [112]:
dict2={'name':['john','bela'],
      'age':22,
      'dept':'finance'}

In [114]:
dict2['name']

['john', 'bela']

In [115]:
dict2['age']

22

In [116]:
dict2['age']=40

In [117]:
dict2['age']

40

In [121]:
setA={1,2,2,2,2,8,7,3,5,4,5,6,7,9}
print(setA)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [126]:
list2={10,20,30,40,30,70,50,80}

In [127]:
list2_not_duplicate=set(list2)

In [128]:
list2_not_duplicate

{10, 20, 30, 40, 50, 70, 80}

In [131]:
list3=list(list2_not_duplicate)

In [132]:
list3

[80, 50, 20, 70, 40, 10, 30]

In [133]:
setA={'a',4}

In [134]:
angka1='10001'
int(angka1,8)

4097

In [135]:
x=2.9
print(x,type(x))

2.9 <class 'float'>

In [136]:
#Float to integer
y=int(x)
print(y,type(y))

2 <class 'int'>

In [139]:
#Float to Boolean
x=1231
y= bool(x)
print(y,type(y))

True <class 'bool'>

In [140]:
#String to Integer
angka1='1231'
y= int(angka1)
print(y,type(y))

1231 <class 'int'>

In [142]:
#String to Float
angka1='123.1'
y=float(angka1)
print(y,type(y))

123.1 <class 'float'>

In [143]:
#Boolean to String
boolean=True
y=str(boolean1)
print(y,type(y))

True <class 'str'>

# Non-Primitive type conversion

# List to Tuple

In [144]:
list1=['satu',2,'tiga',4.4]
print(list1,type(list1))

['satu', 2, 'tiga', 4.4] <class 'list'>

In [147]:
tuple_list1=tuple(list1)
print(tuple_list1,type(tuple_list1))

('satu', 2, 'tiga', 4.4) <class 'tuple'>

# List to set

In [150]:
list2=[10,20,32,14,15,15,26,28,26,31]
print(list2,type(list2))

[10, 20, 32, 14, 15, 15, 26, 28, 26, 31] <class 'list'>

In [151]:
set_list2=set(list2)
print(set_list2,type(set_list2))

{32, 10, 14, 15, 20, 26, 28, 31} <class 'set'>

# Tuple to list

In [152]:
tuple1=(1,'dua','tiga',4,5)
print(tuple1,type(tuple1))

(1, 'dua', 'tiga', 4, 5) <class 'tuple'>

In [153]:
tuple[2]=23

TypeError: 'type' object does not support item assignment

In [154]:
list_tuple1=list(tuple1)
print(list_tuple1,type(list_tuple1))

[1, 'dua', 'tiga', 4, 5] <class 'list'>

In [155]:
list_tuple1[2]=23

In [156]:
list_tuple1

[1, 'dua', 23, 4, 5]

# List To dictionary

In [157]:
x = [['name','john'],['age',22],['city','delhi']]
print(x,type(x))

[['name', 'john'], ['age', 22], ['city', 'delhi']] <class 'list'>

In [158]:
y=dict(x)
print(y,type(y))

{'name': 'john', 'age': 22, 'city': 'delhi'} <class 'dict'>